# Default ignored files
#/shelf/
#/workspace.xml
# Datasource local storage ignored files
#/../../../../../../../../:\URUSAN KULIAH CHECKK\File2 Matkul\Semester 3\Pemrograman Berorientasi Objek\Tubes\Apotek\.idea/dataSources/
#/dataSources.local.xml
# Editor-based HTTP Client requests
#/httpRequests/
